---
    import Section from "../Section.astro"
    import { skills } from "@cv"
---

<Section title="Habilidades">
    <ul>
        {
            skills.map(({ name }) => {
                return (
                    <li>
                        <span>{ name }</span>
                    </li>
                )
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li {
        color: black;
        background-color: #f0f0f0;
        padding: 4px 8px;
        border-radius: 6px;
        padding: 0.25rem 0.5rem;
    }

    li:hover {
        background-color: var(--li-hover);
    }
</style>