---
import Section from "./Section.astro";

---

<Section>
    <button class="print-button" onclick="window.print()">
        <span class="no-print-text">¡Pulsa aquí para imprimir este CV!</span>
        <span class="print-text">Consigue mi currículum actualizado en www.fmangom.es</span>
    </button>
</Section>

<style>
    .print-button {
        width: 100%;
        display: block;
        background-color: #f0f0f0;
        padding: 1rem 2rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    .print-button:hover {
        background-color: var(--li-hover);
    }
    .print-button:active {
        background-color: #777;
    }
    .print-button:focus {
        outline: none;
    }
    .print-button:disabled {
        background-color: #999;
        cursor: not-allowed;
    }
    .print-button:disabled:hover {
        background-color: #999;
    }
    .print-button:disabled:active {
        background-color: #999;
    }
    .print-button:disabled:focus {
        outline: none;
    }
    .print-button span {
        font-size: 1.5rem;
        font-weight: 700;
        color: #333;
    }
    .no-print-text{
        display: block;
    }

    .print-text{
        display: none;
    }

    @media print {
        .no-print-text {
            display: none;
        }
        .print-text{
            display: block;
        }
    }
</style>